.container {
  position: relative;
}

#left {
  float: left;
  width: 33%;
  height: 545px;
}

#board {
  border: 3px solid black;
  border-radius: 3%;
  margin: 10px auto;
  width: 275px;
  /*width: 33%;*/
  height: 545px;
  padding-left: 5px;
  background-color: #333;
  float: left;
}

#right {
  float:left;
  width: 33%;
  height: 545px;
}

.smallBox{
  text-size: 20px;
  font-family: arial;
  letter-spacing: 3px;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
  margin: 10% auto;
  width: 60%;
  background-color: #BBB;
  border-radius: 3%;
}

#scoreboard {
  margin: 10% auto;
}

#controls {
  margin: 24% auto;
}

.smallHead {
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  letter-spacing: 2px;
}

.smallBox div{
  letter-spacing: 1px;
  font-variant-caps: small-caps;
  font-weight: bold;
  padding: 5px;
}

.smallBoard {
  width: 115px;
  margin: auto;
  height: 80px;
}

.smallBoard .tile {
  padding: 0px;
}

#up1::before {
  content:'(1)';
  position: absolute;
  margin-left: -81px;
  margin-top: 15px;
}

#up2::before {
  content:'(2)';
  position: absolute;
  margin-left: -81px;
  margin-top: 15px;
}

#up3::before {
  content:'(3)';
  position: absolute;
  margin-left: -81px;
  margin-top: 15px;
}

span {
  color: #B6FF00;
}

#highScore {
  color: red;
}

.tile {
  float: left;
  /*height: 4.5%;
  width: 9%;*/
  height: 25px;
  width: 25px;
  border: 1px solid black;
}

.unplayed {
  background-color: white;
}

.square {
  background-color: yellow;
}

.cross {
  background-color: purple;
}

.stepRt {
  background-color: green;
}

.stepLt {
  background-color: red;
}

.lBlock {
  background-color: orange;
}

.jBlock {
  background-color: navy;
}

.line {
  background-color: skyblue;
}

#start {
  position: absolute;
  margin-left: 80px;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  visibility: visible;
}

#maskOn {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.7);
  top: 0;
  left: 0;
  position: absolute;
  visibility: hidden;
}

#gameOver {
  background-color: #999;
  color: red;
  position: relative;
  text-align: center;
  margin: 100px auto;
  width: 250px;
  font-size: 25px;
  border-radius: 2%;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 5px;
  border: 2px solid black;
}

p {
  font-family: arial;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 30px 5px 30px 5px;
  text-decoration: none;
  color: white;
}
