.container {
  position: relative;
}

#left {
  float: left;
  width: 33%;
  height: 545px;
}

#board {
  border: 3px solid black;
  border-radius: 3%;
  margin: 10px auto;
  width: 275px;
  /*width: 33%;*/
  height: 545px;
  padding-left: 5px;
  background-color: #333;
  float: left;
}

#right {
  float:left;
  width: 33%;
  height: 545px;
}

.smallBox{
  text-size: 20px;
  font-family: arial;
  letter-spacing: 3px;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
  margin: 10% auto;
  width: 60%;
  background-color: #BBB;
}

#scoreboard {
  margin: 10% auto;
}

#controls {
  margin: 24% auto;
}

.smallHead {
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  letter-spacing: 2px;
}

.smallBox div{
  letter-spacing: 1px;
  font-variant-caps: small-caps;
  font-weight: bold;
  padding: 5px;
}

.smallBoard {
  width: 115px;
  margin: auto;
  height: 80px;
}

.smallBoard .tile {
  padding: 0px;
}

span {
  color: #B6FF00;
}

#highScore {
  color: red;
}

.tile {
  float: left;
  /*height: 4.5%;
  width: 9%;*/
  height: 25px;
  width: 25px;
  border: 1px solid black;
}

.unplayed {
  background-color: white;
}

.square {
  background-color: yellow;
}

.cross {
  background-color: purple;
}

.stepRt {
  background-color: green;
}

.stepLt {
  background-color: red;
}

.lBlock {
  background-color: orange;
}

.jBlock {
  background-color: navy;
}

.line {
  background-color: skyblue;
}
