body{
  background-color: #DDD;
  font-family: arial;
  box-sizing: border-box;
  font-family: 'Stalinist One', cursive;
  letter-spacing: 4px;
  font-weight: lighter;
}

header{
  text-align: center;
  margin: 30px auto;
  width: 60%;
  background-color: #B6FF00;
  border-radius: 3%;
  border: solid 3px #333;
}

h1{
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
}

h2{
  font-size: 20px;
}

nav {
  background-color: #555;
  color: white;
  width: 400px;
  /*height: 400px;*/
  height: 250px;
  margin: 5px auto;
  border: 2px solid black;
  border-radius: 7%;
}

ul{
  margin: 5px auto;
  font-size: 25px;
}

li {
  text-align: center;
  padding: 20px;
}

a {
  color: #FFF;
  -webkit-transition-duration: 0.2s;
}

a:hover {
  color: #B6FF00;
  font-size: 30px;

}

#level {
  padding-top: 0px;
  margin-top: -20px;
  font-size: 23px;
}

button {
  margin: 10px;
  font-size: 30px;
  color: #333;
  background-color: #BBB;
  border-radius: 3px;

}

button:hover {
  color: red;
}

